.cardsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.imgContainer {
  margin-top: 80px;
  width: 100%;
  height: 20vh;
  padding: 0;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
